@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

a {
  text-decoration: none;
  color: #ff6bb5;
}

a:hover{
color: rgb(142, 233, 233);
}

.products img{
  width: 150px;
}


.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}


.product{
  padding: 20px;
}

.product img {
  /* min-width: 150px; */
  min-height: 150px;
  border: solid #ff6bb5 3px;
}

.product-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

body {
  background-color: rgb(247,203,223);
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: larger;
}

nav{
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  padding: 10px;
  font-size: 45px;
  /* justify-content: space-between; */
  /* align-content: center; */
  
}

nav img{
  width: 45px;
}

.home img{
  width: 100%;
  height: auto;
}

.img-container img{
  height: 50vh;
  border: solid #ff6bb5 3px;
}

.info-container h1 {
  font-weight: 200;
}

.info-container p{
  margin:20px 0px;
}

.info-container span{
  font-weight: bold;
  font-size: 25px;
}

.showNavigation{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

.input-form{
  flex:1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-container{
  display:flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
}

.cart-items{
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
}

.cart-items img{
  width: 350px;
}

.cart-items p{
  padding: 0px;
}

.footer{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: #ff6bb5;
 
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  nav{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 25px;
  }

}